.version_upgrade {
    position: relative;
    height: 180px;
    padding-right: 0px;
    margin-bottom: 40px;
}

.upgrade_left {
    position: relative;
    height: 180px;
    width: 56%;
    border: 1px solid #d7dbe3;
    border-radius: 5px;
    box-sizing: border-box;
}

.upgrade_left .icon_version {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    width: 100px;
    height: 97px;
}

.upgrade_left .icon_version img {
    width: 100%;
    height: 100%;
}

.standard_edition {
    position: relative;
    height: 100%;
    padding-left: 190px;
}

.stand_left {
    position: absolute;
    left: 0;
    top: 0;
    width: 190px;
    height: 100%;
    text-align: center;
}

.stand_left img {
    width: 70px;
    height: 60px;
    margin-top: 24px;
}

.stand_left:after {
    position: absolute;
    right: -15px;
    top: 0;
    width: 20px;
    height: 100%;
    margin-left: 20px;
    background: url(../tools/images/ServiceCenter_bg1.jpg) no-repeat left center;
    content: "";
}

.stand_left .p_txt1 {
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    overflow: hidden;
}

.stand_left .buynow_btn {
    display: inline-block;
    height: 32px;
    line-height: 30px;
    margin: 5px auto;
    padding: 0 20px;
    border: 1px solid #aedb6d;
    border-radius: 16px;
    font-size: 16px;
    color: #aedb6d;
}

.stand_left .buynow_btn:hover {
    background-color: #f0f5f8;
}

.stand_right {
    height: 100%;
}

.progress_item {
    float: left;
    width: 50%;
    padding-top: 50px;
    color: #898989;
}

.progress_item .p_progress {
    position: relative;
    float: left;
    width: 45%;
}

.progress_item .progress-bar-info {
    background-color: #9ad8ff;
}

.progress_item .progress-bar-success {
    background-color: #b2e16d;
}

.progress_item .p_progress:hover .p_tootip {
    background: url(../tools/images/SystemBuy_icon3.jpg) no-repeat center bottom;
}

.progress_item .p_progress:hover .p_tootip span {
    display: block;
}

.progress_item .p_tootip {
    position: absolute;
    top: -40px;
    width: 88px;
    height: 34px;
    line-height: 26px;
    margin-left: -44px;
    background: url(../tools/images/SystemBuy_icon2.jpg) no-repeat center bottom;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    overflow: hidden;
}

.progress_item .p_tootip span {
    display: none;
}

.progress_item .progress {
    width: 100%;
    height: 14px;
}

.progress_item .total_num {
    float: left;
    width: 16%;
    height: 20px;
    line-height: 20px;
    margin-top: -3px;
    padding-left: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.progress_item .total_name {
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    height: 20px;
    line-height: 20px;
    margin-top: -3px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: right;
}

/* 扫一扫关注公共号 */
.upgrade_right2 {
    display: none-;
}

.upgrade_right {
    position: absolute;
    top: 0;
    left: 57%;
    width: 25%;
    height: 180px;
    padding: 15px;
    border: 1px solid #d7dbe3;
    border-radius: 5px;
    box-sizing: border-box;
}

.upgrade_right .upgr_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.upgrade_right .upgr_bg img {
    width: 100%;
    height: 100%;
}

.upgrade_right .h_title {
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #000;
}

.upgrade_right .txt_sweep {
    max-height: 78px;
    line-height: 26px;
    font-size: 14px;
    color: #7f7f7f;
    overflow: hidden;
}

.upgrade_right .txt_sweep font {
    margin-right: 5px;
    font-weight: bold;
    color: #525252;
}

.upgrade_right .txt_sweep font span {
    color: #ff7d4f;
}

.upgrade_right .dl_dl {
    position: relative;
    padding-right: 160px;
    height: 146px;
}

.upgrade_right .dl_dt {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 146px;
    padding: 10px;
    border: 1px solid #d7dbe3;
    box-sizing: border-box;
}

.upgrade_right .dl_dt img {
    background-color: #f1f1f1;
}

/* 企业认证板块 */
.certification_block {
    position: relative;
    height: 176px;
    padding-right: 314px;
    margin-bottom: 20px;
}

.certification {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid #d7dbe3;
    border-radius: 5px;
    box-sizing: border-box;
}

.certification .h_title {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #696969;
    overflow: hidden;
}

.certification .table_tdleft {
    width: 70%;
}

.certification .table_tdright {
    width: 30%;
    min-width: 282px;
    text-align: center;
}

.certification .p_txt1 {
    display: inline-block;
    max-height: 72px;
    line-height: 24px;
    font-size: 14px;
    color: #959595;
    overflow: hidden;
}

.graphics_txt {
    display: inline-block;
    overflow: hidden;
}

.graphics_txt li {
    float: left;
    width: 92px;
    text-align: center;
    font-size: 14px;
    color: #707070;
}

.graphics_txt li img {
    width: 37px;
    height: 37px;
}

.graphics_txt li p {
    padding-top: 5px;
}

/* 立即认证 */
.service_state_default {
    position: absolute;
    top: 0;
    left: 83%;
    display: none-;
    width: 16%;
    height: 100%;
    text-align: center;
    color: #fff;
}

.service_state_default .state_hd {
    height: 72px;
    background-color: #27a5f5;
}

.service_state_default .state_bd {
    height: 104px;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: #aedb6d;
}

.service_state_default .p_txt1 {
    padding-top: 16px;
    font-size: 18px;
}

.service_state_default .p_txt2 {
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    font-size: 14px;
}

.service_state_default .p_txt3 {
    position: relative;
    width: 170px;
    height: 42px;
    line-height: 42px;
    margin: auto;
    font-size: 30px;
    cursor: pointer;
}

.service_state_default .p_txt3 .icon_draw {
    float: left;
    width: 42px;
    height: 42px;
    margin-right: 5px;
}

/* 继续认证 */
.service_state_success {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    border: 1px solid #f0ddc2;
    box-sizing: border-box;
    text-align: center;
}

.service_state_success .ser_bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #fcf3e3;
}

.service_state_success .ser_bg img {
    width: 100%;
    height: 100%;
}

.service_state_success .qy_icon img {
    width: 24px;
    height: 24px;
    margin-top: 18px;
}

.service_state_success .qy_title {
    height: 28px;
    line-height: 28px;
    margin: 10px 0 5px;
    font-size: 18px;
    color: #ad6907;
    overflow: hidden;
}

.service_state_success .qy_time {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #d6bd9a;
    overflow: hidden;
}

.service_state_success .qy_link {
    display: block;
    width: 170px;
    height: 36px;
    line-height: 34px;
    margin: 10px auto;
    border: 1px solid #f0ddc2;
    border-radius: 18px;
    box-sizing: border-box;
    background-color: #f6e4cd;
    font-size: 16px;
    color: #ad6907;
}

.service_state_success .qy_link:hover {
    background-color: #ecd7bd;
}

.service_state_success .qy_link img {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 8px 5px 0 0;
    vertical-align: top;
}

/* 增值服务 */
.value-added_service {
    position: relative;
    min-height: 90px;
    border: 1px solid #d7dbe3;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.value-added_service .icon_ser {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 87px;
    height: 87px;
}

.value-added_service .icon_ser img {
    width: 100%;
    height: 100%;
}

.value-added_service .gmjl_link {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    color: #989898;
}

.value-added_service .gmjl_link:hover {
    text-decoration: underline;
}

.web_slider_wap {
    position: relative;
    width: 1050px;
    height: 316px;
    margin: 0 auto;
}

.web_slider_wap .btn_prev,
.web_slider_wap .btn_next {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 60px;
    margin-top: -30px;
    border: 1px solid #d7dbe3;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.web_slider_wap .btn_prev {
    left: -28px;
    background: url(../tools/images/ServiceBuy_sliderLt2.png) no-repeat center center;
}

.web_slider_wap .btn_prev:hover {
    background: #aedb6d url(../tools/images/ServiceBuy_sliderLt.png) no-repeat center center;
}

.web_slider_wap .btn_next {
    right: -28px;
    background: url(../tools/images/ServiceBuy_sliderRt2.png) no-repeat center center;
}

.web_slider_wap .btn_next:hover {
    background: #aedb6d url(../tools/images/ServiceBuy_sliderRt.png) no-repeat center center;
}

.web_slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider_list {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.slider_list .sl_item {
    position: relative;
    float: left;
    width: 350px;
    height: 100%;
    cursor: pointer;
}

.slider_list .sl_item .pos_line {
    position: absolute;
    right: -17px;
    top: 0;
    width: 17px;
    height: 100%;
    background: url(../tools/images/ServiceCenter_bg1.jpg) no-repeat left center;
}

.slider_list .color_y {
    color: #ff7800;
}

.slider_list .color_g {
    color: #99d41a;
}

.slider_list .service_jj {
    position: relative;
    width: 220px;
    margin: 0 auto;
    padding-top: 20px;
    box-sizing: border-box;
}

.slider_list .service_jj .icon_tip {
    position: absolute;
    left: -36px;
    top: 12px;
    width: 52px;
    height: 52px;
}

.slider_list .service_jj .icon_tip img {
    width: 100%;
    height: 100%;
}

.slider_list .service_jj .jj_title {
    display: block;
    height: 52px;
    line-height: 52px;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
}

.slider_list .service_jj .p_text {
    height: 48px;
    line-height: 24px;
    font-size: 16px;
    color: #6f6f6f;
    overflow: hidden;
}

.slider_list .service_img {
    text-align: center;
}

.slider_list .service_img img {
    width: 244px;
    height: 244px;
    margin-top: -40px;
}

.slider_list .sl_item .open_service {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}

.slider_list .sl_item:hover .open_service {
    display: block;
}

.open_service .service_con {
    padding: 40px 65px;
    box-sizing: border-box;
    background: url(../tools/images/opacity_b50.png);
    font-size: 16px;
}

.open_service .s_title {
    display: block;
    line-height: 15px;
    margin-bottom: 16px;
    font-size: 20px;
}

.open_service .p_txt4 {
    height: 120px;
    line-height: 24px;
    text-align: left;
    overflow: hidden;
}

.open_service .open_btn {
    width: 100%;
    height: 42px;
    margin-top: 34px;
    border: 0;
    border-radius: 18px;
    box-sizing: border-box;
    background-color: #abd76a;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.open_service .open_btn:hover {
    background-color: #90bb51;
}

/* 积分 */
.integral_block {
    position: relative;
    min-height: 90px;
    padding: 20px 0;
    border: 1px solid #d7dbe3;
    border-radius: 5px;
    box-sizing: border-box;
}

.integral_block .icon_int {
    position: absolute;
    left: 0;
    top: -5px;
    width: 82px;
    height: 40px;
}

.integral_block .icon_int img {
    width: 100%;
    height: 100%;
}

.integral_list .int_item {
    float: left;
    width: 25%;
    text-align: center;
}

.integral_list .p_text1 {
    display: inline-block;
    width: 140px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    font-size: 18px;
    text-align: left;
}

.integral_list .p_text1 img {
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 10px;
    vertical-align: middle;
}

.integral_list .p_text2 {
    display: inline-block;
    width: 140px;
    margin: 5px auto 0;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: left;
    color: #707070;
}

.integral_list .p_text2 .s_num {
    padding-right: 5px;
    font-size: 24px;
    color: #ff7d4f;
}

/* 小屏样式 */
/* 服务中心--小屏样式 */
.small_body .progress_item .p_progress {
    width: 32%;
}

.small_body .progress_item .total_name {
    font-size: 12px;
}

.small_body .standard_edition {
    padding-left: 120px;
}

.small_body .stand_left {
    width: 120px;
}

.small_body .stand_left img {
    width: 60px;
    height: 50px;
}

.small_body .stand_left .p_txt1 {
    font-size: 16px;
}

.small_body .stand_left .buynow_btn {
    padding: 0 14px;
    font-size: 15px;
}

.small_body .version_upgrade {
    padding-right: 320px;
}

.small_body .upgrade_left .icon_version {
    width: 86px;
    height: 82px;
}

/* 扫一扫关注公共号--小屏 */
.small_body .upgrade_right {
    width: 310px;
    padding: 15px 10px;
}

.small_body .upgrade_right .dl_dl {
    padding-right: 105px;
}

.small_body .upgrade_right .dl_dt {
    top: 25px;
    width: 100px;
    height: 100px;
    padding: 5px;
}

.small_body .upgrade_right .dl_dt img {
    width: 90px;
}

.small_body .upgrade_right .h_title {
    margin-bottom: 5px;
    padding-top: 24px;
    font-size: 16px;
}

.small_body .upgrade_right .txt_sweep {
    font-size: 12px;
}

/* 企业认证板块 */
.small_body .certification_block {
    padding-right: 270px;
}

/* 立即认证--小屏 */
.small_body .service_state_default {
    width: 260px;
}

.small_body .service_state_default .p_txt3 {
    width: 150px;
    font-size: 24px;
}

.small_body .service_state_default .p_txt3 .icon_draw {
    width: 36px;
    height: 36px;
    margin-top: 4px;
}

/*继续认证--小屏*/
.small_body .service_state_success {
    width: 260px;
}

.service_state_success .qy_title {
    font-size: 17px
}

.service_state_success .qy_time {
    font-size: 13px;
}

.service_state_success .qy_link {
    width: 150px;
    font-size: 15px;
}

.service_state_success .qy_link img {
    width: 16px;
    height: 16px;
    margin: 10px 5px 0 0;
}

/* 增值服务--小屏 */
.small_body .value-added_service .icon_ser {
    width: 74px;
    height: 74px;
}

.small_body .web_slider_wap {
    width: 780px;
}

.small_body .slider_list .sl_item {
    width: 260px;
}

.small_body .slider_list .service_img img {
    width: 220px;
    height: 220px;
    margin-top: -25px;
}

.small_body .slider_list .service_jj {
    width: 198px;
}

.small_body .slider_list .service_jj .icon_tip {
    left: -20px;
    width: 46px;
    height: 46px;
}

.small_body .slider_list .service_jj .jj_title {
    font-size: 18px;
}

.small_body .slider_list .service_jj .p_text {
    font-size: 15px;
}

.small_body .open_service .s_title {
    font-size: 18px;
}

.small_body .open_service .service_con {
    padding: 30px;
    font-size: 14px;
}

.small_body .open_service .open_btn {
    font-size: 16px;
}

/* 积分--小屏 */
.small_body .integral_block .icon_int {
    width: 70px;
    height: 34px;
}

/* 弹框阴影 */
.paytip_modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    background: url(../tools/images/opacity_b50.png);
}

/*弹出框*/
.maturity_block {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2000;
    width: 300px;
    margin-top: -105px;
    margin-left: -150px;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px -2px #564f3d;
    box-sizing: content-box;
    background-color: #fff;
    font-size: 14px;
    color: #333;
}

.maturity_block .close_tipbtn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
    background: url(../tools/images/farmingIco17.jpg) no-repeat;
    cursor: pointer;
}

.maturity_block .close_tipbtn:hover {
    background: url(../tools/images/farmingIco16.jpg) no-repeat;
}

.maturity_block .tip_pic {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.maturity_block .tip_pic img {
    width: 36 px-;
    height: 36 px-;
    vertical-align: top;
}

.maturity_block .tip_txt1 {
    line-height: 22px;
    text-align: center;
}

.maturity_block .tip_txt1 .colors_b50 {
    color: #69b631;
}

.maturity_block .tip_txt1 font {
    color: #ff9f13;
}