<div class="weather_body" ng-controller="weatherCtr">
    <div class="weather1">
        <div class="weather1_top">
            <h2>气象</h2>
            <span>山东&nbsp;寿光</span>
        </div>
        <div class="weather1_content">
            <div class="weather1_left">
                <h3>今天</h3>

                <table class="weather1_left1" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><img src="tools/images/02.png"/></td>
                        <td><span>26℃</span></td>
                        <td><strong>多云转阴</strong></td>
                    </tr>
                </table>

                <div class="weather1_left2">
                    <img src="tools/images/tianqi_img03.png"/>
                    <span>日出 5:30</span>
                    <img src="tools/images/tianqi_img04.png"/>
                    <span>日落 18:58</span>
                </div>
                <div class="weather1_left3">
                    <table cellpadding="0">
                        <tr>
                            <td style="border-right: 1px solid #cdcdcd;padding: 10px 0;">
                                <div>
                                    <table cellpadding="0">
                                        <tr>
                                            <td align="center" style="width: 16%"><img
                                                    src="tools/images/tianqi_img08.png"></td>
                                            <td>
                                                <p>最高温度&nbsp;&nbsp;31℃</p>

                                                <p>最低温度&nbsp;&nbsp;24℃</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td style="border-right: 1px solid #cdcdcd;padding: 10px 0;">
                                <div>
                                    <table cellpadding="0">
                                        <tr>
                                            <td align="center" style="width: 16%"><img
                                                    src="tools/images/tianqi_img09.png"></td>
                                            <td>
                                                <p>风力风向</p>

                                                <p>西南风一级</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <table cellpadding="0">
                                        <tr>
                                            <td align="center" style="width: 16%"><img
                                                    src="tools/images/tianqi_img10.png"></td>
                                            <td>
                                                <p>降水量</p>

                                                <p>0mm</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="weather1_left4">
                    <table cellpadding="0" cellspacing="0" style="width: 100%;">
                        <tr>
                            <td style="width: 8%;" align="center">
                                <img src="tools/images/tianqi_img11.png"/>
                            </td>
                            <td style="width: 8%">
                                <span>相对湿度</span>
                            </td>
                            <td style="width: 60%;">
                                <div class="progress" style="margin: 0 40% 0 0;">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 68%;">
                                        68 %
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="weather1_right">
                <h3>明后天</h3>

                <div class="weather1_right1">
                    <div class="weather1_right1_left">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td colspan="2" height="56" align="center">
                                    <span>08月25日 周四</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="30" style="width:50%;">白天</td>
                                <td>夜间</td>
                            </tr>
                            <tr>
                                <td height="48"><img src="tools/images/01.png" width="38" height="33"></td>
                                <td><img src="tools/images/00.png" width="25" height="27"></td>
                            </tr>
                            <tr>
                                <td height="30">多云转晴</td>
                                <td>3-4级转微风</td>
                            </tr>
                            <tr>
                                <td height="60">
                                    <span style="font-size: 30px">30℃</span>
                                </td>
                                <td height="60">
                                    <span style="font-size: 30px">17℃</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="30">北风</td>
                                <td>无持续风向</td>
                            </tr>
                            <tr>
                                <td height="60">
                                    <img src="tools/images/tianqi_img03.png" width="18" height="13">
                                    <span class="sunriseTime2"></span>
                                </td>
                                <td>
                                    <img src="tools/images/tianqi_img04.png" width="18" height="15">
                                    <span></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="weather1_right1_right">
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td colspan="2" height="56">
                                    <span>08月25日 周五</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="30" style="width:50%;">白天</td>
                                <td>夜间</td>
                            </tr>
                            <tr>
                                <td height="48"><img src="tools/images/01.png" width="38" height="33"></td>
                                <td><img src="tools/images/00.png" width="25" height="27"></td>
                            </tr>
                            <tr>
                                <td height="30">多云转晴</td>
                                <td>3-4级转微风</td>
                            </tr>
                            <tr>
                                <td height="60">
                                    <span style="font-size: 30px">30℃</span>
                                </td>
                                <td height="60">
                                    <span style="font-size: 30px">17℃</span>
                                </td>
                            </tr>
                            <tr>
                                <td height="30">北风</td>
                                <td>无持续风向</td>
                            </tr>
                            <tr>
                                <td height="60">
                                    <img src="tools/images/tianqi_img03.png" width="18" height="13">
                                </td>
                                <td>
                                    <img src="tools/images/tianqi_img04.png" width="18" height="15">
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weather2">
        <div class="weather2_top">
            <h2>历史天气</h2>
        </div>
        <div class="weather2_content">

            <div class="weather2_content1">
                <span>温度</span>
            </div>

            <ul>
                <li ng-click="monthTemperature()" ng-class="{'weather2_li_active':month_temperature}">过去12个月</li>
                <li ng-click="dayTemperature()" ng-class="{'weather2_li_active':day_temperature}">过去30天 <span>|</span></li>
            </ul>

            <div class="weather2_content2">
                <highchart config="getTemperatureChart" style="height: 220px;"></highchart>
            </div>
            <p>气象观测方法-气温：气温是地面气象观测规定高度上的空气温度温度温度..</p>

            <div class="weather2_content3">
                <span>风力风向</span>
            </div>

            <div class="weather2_content4">
                <highchart config="getwindColumnChart" style="height: 100%;width: 66%;float: left"></highchart>

                <div id="container" style="height: 100%;width: 26%;float: right;"></div>
                <div style="display:none">
                    <table id="freq" border="0" cellspacing="0" cellpadding="0">
                        <tr nowrap>
                            <th colspan="9" class="hdr">Table of Frequencies (percent)</th>
                        </tr>
                        <tr nowrap>
                            <th class="freq">Direction</th>
                            <th class="freq">一级风</th>
                            <th class="freq">二级风</th>
                            <th class="freq">三级风</th>
                        </tr>
                        <tr nowrap>
                            <td class="dir">北</td>
                            <td class="data">1.81</td>
                            <td class="data">1.78</td>
                            <td class="data">0.16</td>
                        </tr>
                        <tr nowrap>
                            <td class="dir">东北</td>
                            <td class="data">0.82</td>
                            <td class="data">0.82</td>
                            <td class="data">0.07</td>
                        </tr>
                        <tr nowrap>
                            <td class="dir">东</td>
                            <td class="data">0.62</td>
                            <td class="data">2.20</td>
                            <td class="data">0.49</td>
                        </tr>
                        <tr nowrap>
                            <td class="dir">东南</td>
                            <td class="data">1.61</td>
                            <td class="data">3.06</td>
                            <td class="data">2.37</td>
                        </tr>
                        <tr nowrap>
                            <td class="dir">南</td>
                            <td class="data">2.66</td>
                            <td class="data">4.74</td>
                            <td class="data">0.43</td>
                        </tr>
                        <tr nowrap>
                            <td class="dir">西南</td>
                            <td class="data">2.53</td>
                            <td class="data">4.01</td>
                            <td class="data">1.22</td>
                        </tr>
                        <tr nowrap>
                            <td class="dir">西</td>
                            <td class="data">1.64</td>
                            <td class="data">1.71</td>
                            <td class="data">0.92</td>
                        </tr>
                        <tr nowrap>
                            <td class="dir">西北</td>
                            <td class="data">1.58</td>
                            <td class="data">4.28</td>
                            <td class="data">1.28</td>
                        </tr>
                    </table>
                </div>

            </div>
            <p>气象观测方法-风：风是空气的水平运动，是一个用方向（风向）..</p>

            <div class="weather2_content3">
                <span>降水量</span>
            </div>

            <ul>
                <li ng-click="monthPrecipitation()" ng-class="{'weather2_li_active':month_precipitation}">过去12个月</li>
                <li ng-click="dayPrecipitation()" ng-class="{'weather2_li_active':day_precipitation}">过去30天 <span>|</span></li>
            </ul>

            <div class="weather2_content4">
                <highchart config="getprecipitationChart" style="height: 100%;"></highchart>
            </div>
            <p>
                <span style="float: left">数据来自国家气象局网站，仅供参考使用!</span>
                <span style="float: right">什么是降水量？：从天空降落到地面上的液态或固态（经融化后）...</span>
            </p>

        </div>
    </div>

</div>