<td valign="top" style="padding-left: 30px">
    <div style="min-height:30px; padding-bottom:15px; padding-top:15px;" class="right_c serviceCenter_body">
        <!-- 增值服务中心 -->
        <div class="version_upgrade mb15 clear">
            <div class="upgrade_left">
                <i class="icon_version">
                    <img src="tools/images/ServiceCenter_curVer.png">
                </i>
                <dl class="standard_edition">
                    <dt class="stand_left">
                        <img src="tools/images/SystemBuy_iconbig1.jpg">
                    <p class="p_txt1">标准版</p><a class="buynow_btn" id="j_id202" ng-href="#/">立即升级</a>
                    </dt>
                    <dd class="stand_right">
                        <div class="clear">
                            <div class="progress_item">
                                <p style="width:100px;" class="total_name">基地数</p>

                                <div class="p_progress">
                                    <p class="p_tootip" style="left: 242px;"><span>基地1个</span></p>

                                    <div class="progress" style="width: 242px;">
                                        <div style="width:100%;" aria-valuemax="100" aria-valuemin="0"
                                             aria-valuenow="60" role="progressbar"
                                             class="progress-bar progress-bar-info"></div>
                                    </div>
                                </div>
                                <p class="total_num">1个</p>
                            </div>
                            <div class="progress_item">
                                <p style="width:100px;" class="total_name">培训天数</p>

                                <div class="p_progress">
                                    <p class="p_tootip" style="left: 242px;"><span>已培训0天</span></p>

                                    <div class="progress" style="width: 242px;">
                                        <div style="width:100%;" aria-valuemax="100" aria-valuemin="0"
                                             aria-valuenow="60" role="progressbar"
                                             class="progress-bar progress-bar-info"></div>
                                    </div>
                                </div>
                                <p class="total_num">0天</p>
                            </div>
                        </div>
                        <div class="clear">
                            <div class="progress_item clear">
                                <p style="width:100px;" class="total_name">账号数</p>

                                <div class="p_progress">
                                    <p class="p_tootip" style="left: 48px;"><span>已创建1个</span></p>

                                    <div class="progress" style="width: 242px;">
                                        <div style="width:20%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                             role="progressbar" class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div>
                                <p class="total_num">5个</p>
                            </div>
                            <div class="progress_item">
                                <p style="width:100px;" class="total_name">硬件接入数量</p>

                                <div class="p_progress">
                                    <p class="p_tootip" style="left: 48px;"><span>已接入1个</span></p>

                                    <div class="progress" style="width: 242px;">
                                        <div style="width:20%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                             role="progressbar" class="progress-bar progress-bar-success"></div>
                                    </div>
                                </div>
                                <p class="total_num">5个</p>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="upgrade_right upgrade_right1">
                <dl class="dl_dl">
                    <dd class="dl_dd">
                        <h4 class="h_title">扫一扫关注公共号</h4>

                        <p class="txt_sweep"><font><span>20 积分</span>立即领取!</font> 通过公众号实时获得您农场每天运营信息，让你随时随地掌握农场情况。</p>
                    </dd>
                    <dt class="dl_dt">
                        <!--<img src="tools/images/ServiceCenter_wxpic.jpg">-->
                    </dt>
                </dl>
            </div>
        </div>
        <!-- 企业认证 -->
        <div class="certification_block mb15 clear">
            <div class="certification">
                <h5 class="h_title">企业认证的好处</h5>
                <table width="100%" height="80%">
                    <tbody>
                    <tr>
                        <td class="table_tdleft">
                            	<span class="p_txt1">您在义田帮手上的数字地图、种植信息、产品供应、绿色履历、环境信息、联系方式等都会通过义田优品平台向优质渠道商展示出来，轻松获得更多客户； 您还可以搜索和浏览渠道采购信息以及享受义田优品组织的“拼货、团购”等服务。</span>
                        </td>
                        <td class="table_tdright">
                            <ul class="graphics_txt">
                                <li>
                                    <img src="tools/images/ServiceCenter_icon2.png">

                                    <p>数字地图</p>
                                </li>
                                <li>
                                    <img src="tools/images/ServiceCenter_icon3.png">

                                    <p>种植信息</p>
                                </li>
                                <li>
                                    <img src="tools/images/ServiceCenter_icon4.png">

                                    <p>绿色履历</p>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="service_state_default">
                <div class="state_hd">
                    <p class="p_txt1">云洋帮手</p>

                    <p class="p_txt2">简单实用的农场管理工具</p>
                </div>
                <div class="state_bd">
                    <p class="p_txt3">
                        <img src="tools/images/ServiceCenter_ico1.png" style="margin-top: 4px;" class="icon_draw">立即认证
                    </p>
                </div>
            </div>
            <form enctype="application/x-www-form-urlencoded" action="/" method="post" name="basicForm" id="basicForm">
                <input type="hidden" value="basicForm" name="basicForm">
                <input type="hidden" name="basicForm:hidServiceType" id="basicForm:hidServiceType">
                <input type="submit" style="display:none;" value="立即认证" name="basicForm:saveOrderBtn" id="basicForm:saveOrderBtn">
                <input type="hidden" id="javax.faces.ViewState" name="javax.faces.ViewState">
            </form>
        </div>
        <!-- 增值服务 -->
        <div class="value-added_service mb15">
            <i class="icon_ser"><img src="tools/images/ServiceCenter_icon5.png"></i>
            <a ng-href="#/" class="gmjl_link">在线购买记录&gt;</a>

            <div class="web_slider_wap">
                <span class="btn_prev"></span>

                <div class="web_slider">
                    <ul class="slider_list" style="width: 2100px; left: 0px;">
                        <!-- 增值服务 -->
                        <li class="sl_item">

                            <i class="pos_line"></i>

                            <div class="service_jj">
                                <i class="icon_tip">
                                </i>

                                <strong class="jj_title color_y">绿色履历功能</strong>

                                <p class="p_text">绿色履历是每一份在售农产品独一无二的“身份证明”。</p>
                            </div>
                            <div class="service_img">
                                <img width="244px" height="244px" src="tools/images/14653056648902be56.jpg">
                            </div>
                            <!-- 开通服务和立即续费悬浮层 -->
                            <div class="open_service">
                                <div class="service_con">
                                    <strong class="s_title">绿色履历功能</strong>

                                    <div class="p_txt4">
                                        <p>绿色履历是每一份在售农产品独一无二的“身份证明”。</p>
                                    </div>
                                    <!--<button onclick="window.location.href='/'" type="button" class="open_btn">
                                        我要购买
                                    </button>-->
                                    <button type="button" class="open_btn">
                                        我要购买
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="sl_item">

                            <i class="pos_line"></i>

                            <div class="service_jj">
                                <i class="icon_tip">
                                </i>

                                <strong class="jj_title color_y">绿色履历印刷服务</strong>

                                <p class="p_text">多模板的履历设计和标签印刷服务，提升农场品牌形象和营销水平。</p>
                            </div>
                            <div class="service_img">
                                <img width="244px" height="244px" src="tools/images/1465306121794f5460.jpg">
                            </div>
                            <!-- 开通服务和立即续费悬浮层 -->
                            <div class="open_service">
                                <div class="service_con">
                                    <strong class="s_title">绿色履历印刷服务</strong>

                                    <div class="p_txt4">
                                        <p>多模板的履历设计和标签印刷服务，提升农场品牌形象和营销水平。</p>
                                    </div>
                                    <!--<button onclick="window.location.href='/'" type="button" class="open_btn">
                                        我要购买
                                    </button>-->
                                    <button type="button" class="open_btn">
                                        我要购买
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="sl_item">

                            <i class="pos_line" style="display: none;"></i>

                            <div class="service_jj">
                                <i class="icon_tip">
                                </i>

                                <strong class="jj_title color_y">四季田景功能</strong>

                                <p class="p_text">让消费用户身临其境地体验农场服务，引起兴趣和增强信任。</p>
                            </div>
                            <div class="service_img">
                                <img width="244px" height="244px" src="tools/images/146530810752406e47.jpg">
                            </div>
                            <!-- 开通服务和立即续费悬浮层 -->
                            <div class="open_service">
                                <div class="service_con">
                                    <strong class="s_title">四季田景功能</strong>

                                    <div class="p_txt4">
                                        <p>让消费用户身临其境地体验农场服务，引起兴趣和增强信任。</p>
                                    </div>
                                    <!--<button onclick="window.location.href='/service'" type="button" class="open_btn">
                                        我要购买
                                    </button>-->
                                    <button type="button" class="open_btn">
                                        我要购买
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="sl_item">

                            <i class="pos_line"></i>

                            <div class="service_jj">
                                <i class="icon_tip">
                                </i>

                                <strong class="jj_title color_y">四季田景拍摄服务</strong>

                                <p class="p_text">专业的摄像设备、摄影师和制作团队，让田景变身高大上3D农场。</p>
                            </div>
                            <div class="service_img">
                                <img width="244px" height="244px" src="tools/images/146530890082930e64.jpg">
                            </div>
                            <!-- 开通服务和立即续费悬浮层 -->
                            <div class="open_service">
                                <div class="service_con">
                                    <strong class="s_title">四季田景拍摄服务</strong>

                                    <div class="p_txt4">
                                        <span>专业的摄像设备、摄影师和制作团队，让田景变身高大上3D农场。</span>
                                    </div>
                                    <button type="button" class="open_btn">
                                        我要购买
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="sl_item">

                            <i class="pos_line"></i>

                            <div class="service_jj">
                                <i class="icon_tip">
                                </i>

                                <strong class="jj_title color_y">农场秀</strong>

                                <p class="p_text">帮助农场利用“义田帮手”的实时数据自动生成农场介绍宣传H5。</p>
                            </div>
                            <div class="service_img">
                                <img width="244px" height="244px" src="tools/images/1465311634924b87d1.jpg">
                            </div>
                            <!-- 开通服务和立即续费悬浮层 -->
                            <div class="open_service">
                                <div class="service_con">
                                    <strong class="s_title">农场秀</strong>

                                    <div class="p_txt4">
                                        <span>帮助农场利用“云洋帮手”的实时数据自动生成农场介绍宣传H5。</span>
                                    </div>
                                    <button type="button" class="open_btn">
                                        我要购买
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="sl_item">

                            <i class="pos_line" style="display: none;"></i>

                            <div class="service_jj">
                                <i class="icon_tip">
                                </i>

                                <strong class="jj_title color_y">微商城</strong>

                                <p class="p_text">专为农产品量身打造的销售网站，可直达5亿微信用户消费者。</p>
                            </div>
                            <div class="service_img">
                                <img width="244px" height="244px" src="tools/images/1465311950383e92b5.jpg">
                            </div>
                            <!-- 开通服务和立即续费悬浮层 -->
                            <div class="open_service">
                                <div class="service_con">
                                    <strong class="s_title">微商城</strong>

                                    <div class="p_txt4">
                                        <p>专为农产品量身打造的销售网站，可直达5亿微信用户消费者。</p>
                                    </div>
                                    <button type="button" class="open_btn">
                                        我要购买
                                    </button>
                                </div>
                            </div>
                        </li>
                        <!-- 增值服务 -->
                    </ul>
                </div>
                <span class="btn_next"></span>
            </div>
        </div>
        <!-- 积分 -->
        <div class="integral_block">
            <i class="icon_int"><img src="tools/images/ServiceCenter_icon6.png"></i>
            <ul class="integral_list clear">
                <li class="int_item">
                    <strong class="p_text1"><img src="tools/images/ServiceCenter_jf1.png">当前积分</strong><br>

                    <p class="p_text2"><span class="s_num">20</span>分</p>
                </li>
                <li class="int_item">
                    <a style="color:#525252;" ng-href="#/integralExchange">
                        <strong class="p_text1"><img src="tools/images/ServiceCenter_jf2.png">积分商城</strong><br>

                        <p class="p_text2">你赚积分我买单</p>
                    </a>
                </li>
                <li class="int_item">
                    <a style="color:#525252;" ng-href="#/integralRule">
                        <strong class="p_text1"><img src="tools/images/ServiceCenter_jf3.png">新手上路</strong><br>

                        <p class="p_text2">如何获得积分</p>
                    </a>
                </li>
                <li class="int_item">
                    <a style="color:#525252;" ng-href="#/integralRecord">
                        <strong class="p_text1"><img src="tools/images/ServiceCenter_jf4.png">兑换记录</strong><br>

                        <p class="p_text2">查看我的兑换记录</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 增值服务中心 -->
    </div>
</td>