<div class="tips_right_c" style="padding-top: 28px; height: 883px;">
    <div class="farmshow">
        <img src="tools/images/logo.png" height="37" width="160">
    </div>
    <div style="left: 50%; margin-left: -480px;" class="tips">
        <div class="phone">
            <iframe id="tempIframe" scrolling="yes" src="" style="height:474px;" width="100%" frameborder="no"></iframe>
        </div>
        <div class="txt">
            <h4>移动展示案例,让传播更高效!</h4>
            <p>快速制作炫酷的H5、微场景，朋友圈极速品牌传播，</p>
            <p>帮助农场利用“智慧互联”实时数据自动生成农场介绍宣传H5。</p>
            <p class="tel">您尚未购买此服务，如果您想使用请拨打<span>010-64688042！</span></p>
            <div class="buy" onclick="window.location.href=''"><img src="tools/images/buy_btn.png"></div>
        </div>
    </div>
</div>